:root{
    --primary-color:#EE4D2D;
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;
    --border-color: #dbdbdb;
    --gold--color: yellow;
    --header-height:220px;
    --navbar-height:34px;
    --header-with-search-height:calc(var(--header-height) - var(--navbar-height));
    --header-sort-bar-height: 46px;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Responsive */
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
/* Test */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes HeaderNotify{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.5s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.3);
}
.modal__body{
    --growth-from: 0.5;
    --growth-to: 1;
    width: 500px;
    height: 400px;
    background-color: var(--white-color);
    margin: auto;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    animation: growth linear 0.1s;
}
/* Button style */
.btn{
    min-width: 140px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.4rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background-color: rgba(0,0,0,0.0.5);
}
.btn.btn--primary{
    color: white;
    background-color: var(--primary-color);
}
.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #999;
}
.btn.btn--size-s{
    height: 32px;
    font-size: 12px;
}
.btn.btn--white{
    color: black;
    background-color: white;
}
/* Selection */
.select-input{
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 3px;
    background-color: white;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-input__lable{
    font-size: 1.4rem;

}
.select-input-icon{
    font-size: 1.4rem;
    color: black;
    position: relative;
    top: 1px;
}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 3px;
    background-color: white;
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}
.select-input__link{
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}
.select-input__link:hover{
    color: var(--primary-color);
}

.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item {
    margin:0 12px  ;
}
.pagination-item--active .pagination-item__link{
    background-color:var(--primary-color);
    color: white;
}
.pagination-item--active .pagination-item__link:hover{
    background-color: #ee4d2da6;
}
.pagination-item__link{
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}
